%# RTIR-specific CSS goes here
.overdue {
    color: red;
}

.collection-as-table > .yes {
    background: yellow;
}

ul.userlist {
    margin:0;
    padding: 0;
    border: 0;

}
ul.userlist li {
    display: inline;
}

ul.userlist li::after{
  content:", ";
 white-space:pre;
 }

ul.userlist li:last-child::after{
  content:"";
 }


.no-recipients {
    background: #ffcccc; 
    width: 80%;
    align: center;
    border: 2px solid red;
    padding: 1em;
    margin: 1em;
}

#topactions #simple-search input.button {
    width:10em;
}

#topactions { min-width: 44em; }

.ticket-info-articles       .titlebox-title .left { background-color: #316531; color: #fff; }
.tickets-list-report        .titlebox-title .left { background-color: #316531; color: #fff; }
.tickets-list-incident      .titlebox-title .left { background-color: #316531; color: #fff; }
.tickets-list-investigation .titlebox-title .left { background-color: #316531; color: #fff; }
.tickets-list-block         .titlebox-title .left { background-color: #316531; color: #fff; }


#comp-RTIR-Search #body {
    position: relative;
}
#comp-RTIR-Search .submit {
    width: 58%;
}



% $m->abort;
<%INIT>
$r->content_type('text/css');
</%INIT>
