%# RTIR-specific CSS goes here
.overdue {
    color: red;
}

.collection-as-table > .yes {
    background: yellow;
}

ul.userlist {
    margin:0;
    padding: 0;
    border: 0;

}
ul.userlist li {
    display: inline;
}

ul.userlist li::after{
  content:", ";
 white-space:pre;
 }

ul.userlist li:last-child::after{
  content:"";
 }


div.locked-by-you {
    
    width: 80%;
    align: center;
    border: 2px solid green;
    padding: 1em;
    margin: 1em;
}    

.locked, .no-recipients {
    background: #ffcccc; 
    width: 80%;
    align: center;
    border: 2px solid red;
    padding: 1em;
    margin: 1em;
    
}

% $m->abort;
<%INIT>
$r->content_type('text/css');
</%INIT>
