/* TODO: this section of stlying has been commented out to disable the colored header until we re-implement.
body.rtir div#header,
body.rtir .ticket-timer .ticket-link {
    background: #404080;
    color: #fff;
}
*/

body.rtir .overdue {
    color: red;
}

/* top border colors */
body.rtir .titlebox.ticket-info-articles, body.rtir .titlebox.tickets-list-report, body.rtir .titlebox.tickets-list-incident,
body.rtir .titlebox.tickets-list-investigation, body.rtir .titlebox.tickets-list-countermeasure { border-top: 3px solid #388E3C; }
body.rtir .titlebox.ticket-info-time { border-top: 3px solid #7B1FA2; }
body.rtir .titlebox.ticket-info-message { border-top: 3px solid #1976D2; }
body.rtir .titlebox.ticket-info-details { border-top: 3px solid #D32F2F; }
body.rtir .titlebox.ticket-info-cve { border-top: 3px solid #1574b3; } /* The color is from header of https://nvd.nist.gov/ */

body.rtir .incidents .actions .btn {
    border: none;
}

body.rtir .incidents .actions #create-incident {
    background: #4040a0;
}

body.rtir .incidents .actions #create-incident:hover {
    background: #4040f0;
}

body.rtir .incidents .actions #link-incident {
    background: #316531;
}

body.rtir .incidents .actions #link-incident:hover {
    background: #3f833f;
}

body.rtir .titlebox.external-feeds tr.oddline+.oddline .collection-as-table,
body.rtir .titlebox.external-feeds tr.evenline+.evenline .collection-as-table {
    padding-bottom: 0.7rem;
}

/* Make lookup buttons small since on some screens many can be shown */
a.rtir-lookup-button {
    --bs-btn-padding-y: .2rem;
    --bs-btn-padding-x: .3rem;
    --bs-btn-font-size: .6rem;
}

/* Adjust h3 sizing until RT updates heading styles */
h3.rtir-reply-all {
    font-size: 1.1rem;
}

[data-bs-theme=light] {
    body.rtir input[type="reset"],
    body.rtir input[type="submit"],
    body.rtir input[class="btn"] {
        background: #4040a0;
        color: #fff;
    }

    body.rtir input[type="reset"]:hover,
    body.rtir input[type="submit"]:hover,
    body.rtir input[class="btn"]:hover {
        background: #4040f0;
        color: #fff;
    }
}

[data-bs-theme=dark] {
    .rtir .clickylink a.btn {
        border: 1px solid #717171;
        color: #b2b6ba;
    }

    .rtir .clickylink a.btn:hover {
        background: #3A474D;
    }
}
