/* elevator-dark styles for rtir */

.rtir.darkmode .filter-option-inner .filter-option-inner-inner {
    background: #323D42 !important;
}

.rtir.darkmode .current-value.form-control {
    background: #2C3539 !important;
}

.rtir.darkmode .clickylink a {
    border: 1px solid #717171;
}

.rtir.darkmode .clickylink a:hover {
    background: #3A474D !important;
}
