body.rtir div#header,
body.rtir .ticket-timer .ticket-link {
    background: #404080;
    color: #fff;
}

body.rtir input[type="reset"],
body.rtir input[type="submit"],
body.rtir input[class="button"] {
    background: #4040a0;
    color: #fff;
 }

body.rtir input[type="reset"]:hover,
body.rtir input[type="submit"]:hover,
body.rtir input[class="button"]:hover {
    background: #4040f0;
    color: #fff;
}

body.rtir .overdue {
    color: red;
}

body.rtir .collection-as-table > .yes {
    background: yellow;
}

body.rtir .ticket-info-basics .incidents .collection-as-table {
    margin-top: 0;
}


body.rtir ul.userlist {
    margin:0;
    padding: 0;
    border: 0;

}
body.rtir ul.userlist li {
    display: inline;
}

body.rtir ul.userlist li::after{
  content:", ";
 white-space:pre;
 }

body.rtir ul.userlist li:last-child::after{
  content:"";
 }


body.rtir .no-recipients {
    background: #ffcccc; 
    width: 80%;
    align: center;
    border: 2px solid red;
    padding: 1em;
    margin: 1em;
}

body.rtir #topactions #simple-search input.button {
}

body.rtir #topactions #simple-search input.field {
    width: 150px;
}

body.rtir #topactions { min-width: 44em; white-space: no-wrap; }

#comp-RTIR .myrt>table>tr>td:first-child {
    width: 80%;
}

body.rtir .titlebox.ticket-info-articles        .titlebox-title .left { background-color: #316531; color: #fff; }
body.rtir .titlebox.tickets-list-report         .titlebox-title .left { background-color: #316531; color: #fff; }
body.rtir .titlebox.tickets-list-incident       .titlebox-title .left { background-color: #316531; color: #fff; }
body.rtir .titlebox.tickets-list-investigation  .titlebox-title .left { background-color: #316531; color: #fff; }
body.rtir .titlebox.tickets-list-countermeasure .titlebox-title .left { background-color: #316531; color: #fff; }


body.rtir #comp-RTIR-Search #body {
    position: relative;
}
body.rtir #comp-RTIR-Search .submit {
    width: 58%;
}

body.rtir #ticket-create-incident input[type=text]:not(.datepicker),
body.rtir #ticket-create-investigation input[type=text]
{
    width: 90%;
}

body.sidebyside.rtir #ticket-create-incident .ticket-create-basics,
body.sidebyside.rtir #ticket-create-investigation .ticket-create-basics
{
    float: right;
    width: 40%;
    clear: right;
}

body.sidebyside.rtir #ticket-create-incident .ticket-create-details,
body.sidebyside.rtir #ticket-create-investigation .ticket-create-details
{
    float: left;
    width: 58%;
    clear: left;
}
@media (max-width: 950px) {
    body.sidebyside.rtir #ticket-create-incident .ticket-create-basics,
    body.sidebyside.rtir #ticket-create-investigation .ticket-create-basics,
    body.sidebyside.rtir #ticket-create-incident .ticket-create-details,
    body.sidebyside.rtir #ticket-create-investigation .ticket-create-details
    {
        float: none;
        width: auto;
        clear: both;
    }
}

body.rtir .titlebox-content>table {
    width: 100%;
}

body.rtir table.edit-custom-fields {
}

body.rtir table.edit-custom-fields .entry {
}

body.rtir td.label, 
body.rtir td.cflabel {
    vertical-align:top;

}


body.rtir .entry textarea {
    display:inline-block;
   width: 100%;
}

body.rtir  .titlebox-content>table td.label,
body.rtir  .titlebox-content>table td.cflabel {
    width: 10em;
}
body.rtir  table.edit-custom-fields td.cflabel * {
    width: 100%;
    display:inline-block;
    text-align:right;
}
body.rtir .cftype-Select td.cflabel .type {
    display: none;
}


body.rtir .basics table.collection-as-table {
    margin-bottom: 4px;
}

body.rtir .incidents .actions {
    text-align: right;
    margin-bottom: 1em;
}

body.rtir .incidents .actions .button {
    border: none;
    padding: 0.95em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

body.rtir .incidents .actions #create-incident {
    background: #4040a0;
}

body.rtir .incidents .actions #create-incident:hover {
    background: #4040f0;
}

body.rtir .incidents .actions #link-incident {
    background: #316531;
}

body.rtir .incidents .actions #link-incident:hover {
    background: #3f833f;
}

body.rtir #editquery, body.rtir #editsearches {
    margin-top:8.1em;
}


body.rtir .sf-menu a.sf-with-ul {
    padding-right:2em;
}

body.rtir table.lookup-tool-forms td {
    vertical-align: middle;
}
