<& /Elements/Header, Title => $title &>
<& /Elements/Tabs &>
<& /Elements/ListActions &>

<form method="get" action="<% RT->Config->Get('WebPath') %>/RTIR/Search/Reporting.html">
% my %hiddens = (Queue => $Queue, Query => $Query, Format => $Format, Rows => $Rows, OrderBy => $OrderBy, Order => $Order);
% while ( my ($key, $val) = each %hiddens ) {
% next unless defined $val;
<input type="hidden" class="hidden" name="<% $key %>" value="<% $val %>" />
% }
<&|/l&>Show chart</&>
<&|/l_unsafe, $m->scomp('/Search/Elements/SelectGroupBy', Name => 'PrimaryGroupBy', Query => $FullQuery) &>grouped by [_1]</&>
<&|/l_unsafe, $m->scomp('/Search/Elements/SelectChartType', Name => 'ChartStyle') &>style: [_1]</&>
<input type="submit" class="button" name="ShowChart" value="<% loc('Go')%>" />
</form>

<br />

% if ( $ShowChart ) {
<& /Search/Elements/Chart, Query => $FullQuery, PrimaryGroupBy => $PrimaryGroupBy, ChartStyle => $ChartStyle &>
% }


<%INIT>
my $title = loc('Reporting');

my $FullQuery = join ' AND ', map "( $_ )", grep $_, $BaseQuery, $Query;

</%INIT>

<%ARGS>
$PrimaryGroupBy => 'Status'
$ChartStyle     => 'bar'
$ShowChart      => 0

$Queue     => ''

$BaseQuery => RT::IR->Query( Queue => $Queue )
$Query     => RT::IR->ActiveQuery( Queue => $Queue )
$Format    => undef
$Rows      => 50
$Page      => 1
$OrderBy   => 'id'
$Order     => 'ASC'
</%ARGS>
