<& /RTIR/Elements/Header, Title => $Title &>
<& '/RTIR/'.$Type.'/Elements/Tabs', 
    Ticket         => $Ticket,
    current_tab    => "RTIR/Advanced.html?id=".$Ticket->Id,
    current_subtab => "RTIR/Advanced.html?id=".$Ticket->Id,
    Title          => $Title,
&>

<& /Elements/ListActions, actions => \@results &>

<form method="post" action="Advanced.html" enctype="multipart/form-data">
<input type="hidden" name="id" value="<% $Ticket->Id %>" />

<&| /Widgets/TitleBox, title => loc('Edit basics') &>
<table>
  <tr>
    <td class="label"><&|/l&>Subject</&>:</td>
    <td class="value"><input name="Subject" value="<% $Ticket->Subject %>" size="50" /></td>
  </tr>
  <tr>
    <td class="label"><&|/l&>Queue</&>:</td>
    <td class="value"><& /Elements/SelectQueue, Name => 'Queue', Default => $Ticket->Queue &></td>
  </tr>

  <tr>
    <td class="label"><&|/l&>Time Estimated</&>:</td>
    <td class="value">
      <input name="TimeEstimated" value="<% $Ticket->TimeEstimated %>" size="5" />
      <& /Elements/SelectTimeUnits, Name =>'TimeEstimated' &>
    </td>
  </tr>
  <tr>
    <td class="label"><&|/l&>Time Worked</&>:</td>
    <td class="value">
      <input name="TimeWorked" value="<% $Ticket->TimeWorked %>" size="5" />
      <& /Elements/SelectTimeUnits, Name =>'TimeWorked' &>
    </td>
  </tr>
  <tr>
    <td class="label"><&|/l&>Time Left</&>:</td>
    <td class="value">
      <input name="TimeLeft" value="<% $Ticket->TimeLeft %>" size="5" />
      <& /Elements/SelectTimeUnits, Name =>'TimeLeft' &>
    </td>
  </tr>

  <tr>
    <td class="label"><&|/l&>Priority</&>:</td>
    <td class="value"><&/Elements/SelectPriority, Name=>"Priority", Default=>$Ticket->Priority &></td>
  </tr>
  <tr>
    <td class="label"><&|/l&>Final Priority</&>:</td>
    <td class="value"><&/Elements/SelectPriority, Name=>"FinalPriority", Default=>$Ticket->FinalPriority &></td>
  </tr>
</table>
</&>

<&| /Widgets/TitleBox, title => loc('Edit Links') &>
<& /Elements/EditLinks, Object => $Ticket, Merge => 1 &>
</&>

<& /Elements/Submit,
    Name => 'SaveChanges',
    Label => loc('Save Changes'),
    Caption => loc("If you've updated anything above, be sure to"),
&>
</form>

<%INIT>
my $Ticket = LoadTicket($id);
$id = $ARGS{'id'} = $Ticket->id;

my @results;
if ( $ARGS{'SaveChanges'} ) {
    push @results, ProcessTicketBasics( TicketObj => $Ticket, ARGSRef => \%ARGS);
    push @results, ProcessTicketLinks( TicketObj => $Ticket, ARGSRef => \%ARGS);

    if ( RT->Config->Get('DisplayAfterEdit', $session{'CurrentUser'}) ) {
        push @{ $session{"Actions"}{''} ||= [] }, @results;
        $session{'i'}++;

        $m->comp("/RTIR/Display.html", %ARGS);
        return;;
    }
}

unless ($Ticket->CurrentUserHasRight('ShowTicket')) {
   Abort("No permission to view ticket");
}

my $Type = RT::IR::TicketType( Ticket => $Ticket );
my $Title = loc("Advanced edit $Type #[_1]", $id);

</%INIT>
<%ARGS>
$id => undef
</%ARGS>
