<& /RTIR/Elements/Header, Title => $Title &>
<& /Elements/Tabs &>
<& /Elements/ListActions, actions => \@results &>

<form action="Forward.html" name="ForwardMessage" method="post">
% $m->callback( CallbackName => 'FormStart', ARGSRef => \%ARGS );
<input type="hidden" class="hidden" name="id" value="<% $id %>" /><br />
<input type="hidden" class="hidden" name="QuoteTransaction" value="<% $ARGS{'QuoteTransaction'} %>" />

<table width="100%">

<tr class="subject">
  <td class="label"><&|/l&>Subject</&>:</td>
  <td class="value"><% $TicketObj->Subject %></td>
</tr>

% foreach my $field (To Cc Bcc) {
<tr class="<% lc $field %>">
  <td class="label"><% loc($field) %>:</td>
  <td class="value"><& /Elements/EmailInput,
    Name => $field, Default => $ARGS{ $field }, Size => undef,
  &></td>
</tr>
% }

</table>

<& /Elements/Submit, Label => loc('Forward Message'), Name => 'Forward' &>
</form>
<%INIT>
my $TicketObj = LoadTicket($id);
$id = $ARGS{'id'} = $TicketObj->id;

Abort( loc("Permission denied") )
    unless $TicketObj->CurrentUserHasRight('ForwardMessage');

my $Type = RT::IR::TicketType( Ticket => $TicketObj );

my $txn = RT::Transaction->new( $session{'CurrentUser'} );
$txn->Load( $QuoteTransaction );
Abort( loc("Couldn't load transaction #[_1]", $QuoteTransaction) )
    unless $txn->id;

my @results;
if ( $ARGS{'Forward'} ) {
    require RT::Interface::Email;
    my ($status, $msg) = RT::Interface::Email::ForwardTransaction( $txn, %ARGS );
    push @results, $msg;

    MaybeRedirectForResults(
        Actions   => \@results,
        Arguments => { id => $TicketObj->id, QuoteTransaction => $QuoteTransaction },
    );
}

my $Title = loc('Forward message');

</%INIT>

<%ARGS>
$id => undef
$QuoteTransaction => undef
</%ARGS>
